body{
    background-color: bisque;
}
h1{
    color: rgb(102, 47, 16); text-align: center; background-color: rgb(236, 212, 145);
}
h3 {
    color: rgb(182, 121, 51); text-align: center; background-color: rgb(223, 221, 130);
}

.para1 {color: #1d275f;}